body {
    font-size : 32;
    background-color: rgb(10,10,10);
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    position: relative;
    top : 25%;
    text-align: center;
}
