body {
    white-space : nowrap;
    font-size : 36;
    background-color: rgb(10,10,10);
    color : white;
    font-family : Cascadia Mono;
}
@media only screen and (max-width: 767px) {
  /* Your mobile-only styles go here */
  body {
    scale: 0.8;
    white-space : nowrap;
    font-size: 32;
    background-color: rgb(10,10,10);
  }
  #lol{
    color : white;
    align-items: center;
    padding-right : 40 ; 
  }
}
#HEAD {
    padding-top: 2%;
    text-align: center;
    color: rgb(94, 188, 229);
}
#lol {
    color : white;
    align-content: center;
    /* text-align: center; */
    padding-right : 40 ;  
}
ul{
    list-style-type: none;
    line-height: 210%;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    
}
a:hover{
    transition-duration: 20ms;
    color: aqua;
    text-decoration: underline dotted;
}

