body {
    font-size : 36;
    background-color: rgb(10,10,10);
    color : white;
    font-family : monospace
}

#HEAD {
    padding-top: 2%;
    text-align: center;
    color: yellow;
}
#lol {
    color : white;
    align-content: center;
    text-align: center;
    padding-right : 40 ;  
}
ul{
    list-style-type: none;
    line-height: 210%;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    
}
a:hover{
    transition-duration: 20ms;
    color: aqua;
    text-decoration: underline dotted;
}

